<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDI6rBHO8n6-VWxmTgKQKW2C3FFGJDlSzc</string>
	<key>GCM_SENDER_ID</key>
	<string>722554216805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sdator.scrapdash</string>
	<key>PROJECT_ID</key>
	<string>scrap-dash-6451e</string>
	<key>STORAGE_BUCKET</key>
	<string>scrap-dash-6451e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722554216805:ios:6286a86f8f910127d4818c</string>
</dict>
</plist>